html {
font-family: Helvetica;
user-select:none;
-moz-user-select:none;
-webkit-user-select:none;
-webkit-touch-callout:none;
-ms-user-select:none;
}

div {
margin: auto;
padding: 20px;
text-align: center;
}

h1 {
color: #fe6770;
}

img {
width: 600px;
padding-bottom: 20px;
}

img.flag {
width: 25px;
}